contact_app/__pycache__/__init__.cpython-312.pyc
contact_app/__pycache__/admin.cpython-312.pyc
contact_app/__pycache__/urls.cpython-312.pyc
contact_app/__pycache__/models.cpython-312.pyc
contact_app/__pycache__/views.cpython-312.pyc
contact_app/__pycache__/apps.cpython-312.pyc
contact_app/migrations/
contacts/__pycache__/
