{% extends "base.html" %}
{% load static %}

{% block addcontact %}
<form class="addcontactform" action="{% url 'add_contact' %}" method="POST">
    {% csrf_token %}
    <H2>Add new contact</H2>
<div class="coulumns_container">
    <div class="column">
        <div class="inputdiv">
        <label>Name</label>
        <input type="text" class="logininput" name="name" id="" placeholder="Name" required>
        </div>
        <div class="inputdiv">
        <label>Email</label>
        <input type="email" class="logininput" name="email" id="" placeholder="Email">
        </div>
        <div class="inputdiv">
        <label>Phone</label>
        <input type="phone" class="logininput" name="phone_number" id="" placeholder="Phone">
        </div>
    </div>
    <div class="column">
        <div class="inputdiv">
            <label>Company</label>
            <input type="text" class="logininput" name="company" id="" placeholder="Company" required>
        </div>
        <div class="inputdiv">
        <label>Role</label>
        <input type="text" class="logininput" name="role" id="" placeholder="Role">
        </div>
        <div class="inputdiv">
            <label>Description</label>
            <input type="text" class="logininput" name="description" id="" placeholder="Description">
        </div>
    </div>

    <div class="column">
        <div class="inputdiv">
            <label>Category</label>
        <select class="logininput" name="category" required>
            {% for category in categories %}
            <option value='{{category.category}}'>{{category.category}}</option>
            {% endfor %}
        </select>
        </div>
    </div>
</div>
<div class="">
    <input class="crudtext" type="submit"  name="add_contact" value = "Add">
    <input class="crudtext" type="submit" name= "cancel" value = "Cancel">
</div>
</form>

{{message}}


{% endblock %}