{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'contact_app/style.css' %}">
    <script src="{% static 'contact_app/js/js.js' %}" defer></script>
    <title>Task manager app</title>
</head>

<body>
<div class="container">
    <div class="section1">
        <div class="profilebar">
            <h3>Good {{datetime}}, {{user.name}}!</h3>
            {%if user.image%}
            <img src="{{ user.image.url }}" class="userimg">
            {%else%}
            <img src="{% static 'contact_app/images/user1.jpg' %}" class="userimg">
            {%endif%}
        </div>
        <div class="navbar">
            <a class="navbartext" id="dashbordLink"  href="{% url 'dashbord' %}">Dashbord</a>
            <a class="navbartext" id="addLink" href="{% url 'add_task' %}">Add Task</a>
            <a class="navbartext" id="groupsLink"  href="{% url 'contacts' %}">Contacts</a>
            <a class="navbartext" id="personalLink" href="{% url 'setting' %}">Personal Details</a>
            <a style="margin-top:20px;"class="crudtext" href="{% url 'logout' %}">Log out</a>
        </div>
    </div>
    <div class="section2">
        {% block dashbord %}
        {% endblock %}
        {% block addtask %}
        {% endblock %}
        {% block addcontact %}
        {% endblock %}
        {% block updatetask %}
        {% endblock %}
        {% block groups %}
        {% endblock %}
        {% block setting %}
        {% endblock %}
        {% block card %}
        {% endblock %}
        {% block updatecontact %}
        {% endblock %}
    </div>
</div>

</body>
</html>