{% extends "base.html" %}
{% load static %}
<script src="{% static 'contact_app/js/js.js' %}"></script>

{% block card %}

{% if type == "contact" %}
    <div class="contactCard">
        <h3 style="margin:0;">Contact Details</h3>
        <h3>{{obj.name}}</h3>
        <img src="{% static 'contact_app/images/user1.jpg' %}" class="userimg">

        {%for k,v in data.items%}
            {%if v%}
                <div class="">
                    <strong>{{ k }}:</strong> {{v}}
                </div>
            {%endif%}
        {%endfor%}
        <form action="{% url 'crud_contact' %}" method="POST" >
            {% csrf_token %}
            <input type="hidden" name="contact_id" value="{{obj.id}}">
            <input class="crudtext" type="submit" name="delete" value="delete">
            <input class="crudtext" type="submit" name="update" value="update">
        </form>
    </div>
{%endif%}


{% if type == "user" %}
<div class="contactCard">
    <h3 style="margin:0;">Employee Details</h3>
    <h3>{{obj.name}}</h3>
    <img src="{{ obj.image.url }}" class="userimg">
    {%for k,v in data.items%}
        {%if v%}
        <div class="">
            <strong>{{ k }}:</strong> {{v}}
        </div>
        {%endif%}
    {%endfor%}
</div>
{%endif%}


{% if type == "task" %}
<div class="contactCard">
    <h3 style="margin:0;">Task Details</h3>
    <h3>{{obj.title}}</h3>
    <div>{{obj.category}}</div>
    {%for k,v in data.items%}
        {%if v%}
        <div class="">
            <strong>{{ k }}:</strong> {{v}}
        </div>
        {%endif%}
    {%endfor%}
    <strong>Related contacts:</strong>
    <div style="display:flex; gap:10px; overflow-x:auto; width: 25vw; justify-content:center;">
        {% for related_contact in obj.related_contacts.all %}
        <a href="{% url 'card' related_contact.id 'contact' %}" style="display:flex; flex-direction:column; gap:5px; align-items:center;"> 
            <img src="{% static 'contact_app/images/user1.jpg' %}" class="contactlogo">
            <div>{{ related_contact.name }}</div>
        </a>
        {% endfor %}
    </div>
    <strong>Related employees:</strong>
    <div style="display:flex; gap:10px; overflow-x:auto; width: 25vw; justify-content:center;">
        {% for related_employee in obj.related_employees.all %}
        <a href="{% url 'card' related_employee.id 'contact' %}" style="display:flex; flex-direction:column; gap:5px; align-items:center;"> 
            <img src="{{ related_employee.image.url }}" class="contactlogo">
            <div>{{ related_employee.name }}</div>
        </a>
        {% endfor %}
    </div>
</div>
{%endif%}


{% endblock %}

