{% extends "base.html" %}
{% load static %}
<script src="{% static 'contact_app/js/js.js' %}"></script>

{% block groups %}
<div class="groups">
    <div class="coulmngroup">
        <div style="display:flex; align-items:center; gap:20px;">
            <h2>Contacts</h2>
            <a class="crudtext" href="{% url 'add_contact' %}">Add Contact</a>
        </div>
    {% for category in categories %}
        <div class="group1">
            <div class="groupheader">
                <h3>{{category}}</h3>
            </div>
            <div class="groupcontacs">
                {% for contact in contacts %}
                    {% if category == contact.category %}
                        <div style="display:flex; flex-direction:column; align-items:center">
                            <a href="{% url 'card' contact.id 'contact' %}">
                                <img src="{% static 'contact_app/images/user1.jpg' %}" class="contactimg">
                                <div>{{ contact.name }}</div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
    <div class="coulmngroup">
        <h2>Team</h2>
        <div class="employees">
            {% for contact in employees %}
            <div style="display:flex; flex-direction:column; gap:10px; align-items:center;">
                <a href="{% url 'card' contact.id 'user' %}" style="display:flex; flex-direction:column; align-items:center;">
                    <h3>{{ contact.name.title }}</h3>
                    <img src="{{ contact.image.url }}" class="userimg">               
                    <div>{{ contact.role.title }}</div>
                    {%if contact.name == user.name %}
                    <a class="crudtext" href="{% url 'setting' %}">Edit</a>
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

