{% extends "base.html" %}
{% load static %}

{% block groups %}
<div class="groups">
    <div class="coulmngroup">
        <h2>Groups</h2>
    {% for category in categories %}
        <div class="group1">
            <div class="groupheader">
                <h3>{{category}}</h3>
            </div>
            <div class="groupcontacs">
            {% for contact in contacts %}
                {%if category == contact.category %}
                    <div style="display:flex; flex-direction:column; align-items:center">
                        <img src="{% static 'contact_app/images/user1.jpg' %}" class="contactimg">
                        <div>{{contact.name}}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        </div>
    {% endfor %}
</div>
<div class="coulmngroup">
    <h2>Team</h2>
    <div class="employees">
    {% for employee in employees %}
        <div class="employeecard">
            {%if employee.name.title == user.name %}
            <a class="crudtext" href="{% url 'setting' %}">edit</a>
            {% endif %}
            <h3>{{employee.name.title}}</h3>
            <img src="{{ employee.image.url }}" class="userimg">
            <div class="">{{employee.address.title}}</div>
            <div class="">My Number: {{employee.phone_number}}</div>
            <div class="">My Role: {{employee.role.title}}</div>
            <div class="">My Birthday: {{employee.birth_day}}</div>
            <div class="">My Note: {{employee.note.title}}</div>


        </div>
    {% endfor %}
</div>
</div>
</div>

{% endblock %}

