{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'contact_app/style.css' %}">
    <title>Login</title>
</head>
<script>
    function validateLogin(){
        message.innerHTML="";
        let valid=true;
        Array.from(document.getElementById("loginForm").getElementsByTagName("input")).map(
            item=>{
                if (item.value==""){
                    message.innerHTML+=`Please fill out the ${item.name} <br>`;
                    item.style.borderColor="red";
                    valid=false;
                }
            })
        if (valid){
            loginForm.submit();
        }
    }
</script>
<body style = "display:flex; justify-content: center;">
    <div class="boxlogin">
        <form class="formlogin"  id="loginForm" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <img src="/static/contact_app/images/user1.jpg" class="loginimg">
            <input onchange="this.style.borderColor='transparent';" type="text" class="logininput" name="username" id="username" placeholder="Username">
            <input onchange="this.style.borderColor='transparent';" type="password" class="logininput" name="password" id="password" placeholder="Password">
            <div id="message" class="message"></div>
            {{message}}
        </form>
        <button type = "button" onclick ="validateLogin()">Log in</button>
    
    </div>
</body>

</html>

